/*タブレット向けレイアウト*/
@media screen and (max-width: 1000px) {

  .time{
    font-size: 20px;
  }
}

/* スマホ向けレイアウト */
@media screen and (max-width: 670px) {

  .time{
    font-size: 12px;
  }

  .btn {
    width: 100%;
  }

  .header-right{
    display:none;
  }
}