/*タブレット向けレイアウト*/
@media screen and (max-width: 1000px) {
  
  .time p{
    font-size: 30px;
  }
}

/* スマホ向けレイアウト */
@media screen and (max-width: 670px) {

  .header-right{
    font-size: 15px;
  }

  .header-left{
    font-size: 10px;
  }

  .time p{
    font-size: 25px;
  }

  .btn {
    width: 100%;
  }

  .header-right{
    display:none;
  }
}